<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.shenqqq.bbs.dao.ArticleMapper">

    <select id="selectAll" resultType="map">
        select a.*, u.username, u.avatar
        from article a
                 left join user u on a.user_id = u.id
        order by a.comment_count desc, a.in_time desc
    </select>

    <select id="selectByUserId" resultType="map">
        select a.*, u.username, u.avatar
        from article a
                 left join user u on a.user_id = u.id
        where a.user_id = #{userId}
        order by a.in_time desc
    </select>

    <select id="search" resultType="map">
        select a.*, u.username, u.avatar
        from article a
        left join user u on a.user_id = u.id
        <where>
            a.title like concat(concat('%',#{keyword}),'%') or a.content like concat(concat('%',#{keyword}),'%')
        </where>
        order by a.in_time desc
    </select>
</mapper>
